@import "tailwindcss";

@font-face {
  font-family: 'Playfair Display';
  src: url('/fonts/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
  font-weight: 400 700;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display Italic';
  src: url('/fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf') format('truetype');
  font-style: italic;
  font-weight: 400 700;
  font-display: swap;
}

@font-face {
  font-family: 'Domine';
  src: url('/fonts/Domine-VariableFont_wght.ttf') format('truetype');
  font-weight: 400 700;
  font-display: swap;
}

:root {
  --color-primary: #5C3A21; /* Dark Brown */
  --color-secondary: #F8F0E3; /* Light Beige */
  --color-highlight: #C89F3B; /* Golden Yellow */
  --color-text: #444444; /* Dark Grey */
  --color-background: #FCFBF8; /* Very Light Cream */

}

* {
  white-space: normal;
}

body {
  margin: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Playfair Display', serif;
  color: var(--color-primary);
}
