--- 
import { Image } from 'astro:assets';
import deskBackground from "../assets/images/desk-background.jpeg";
import mobileBackground from "../assets/images/mobile--background.jpeg";

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Atendimento psicológico para crianças e adolescentes por Fernanda Fortes.">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/plantinha.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&family=Lato:wght@400;700&display=swap" rel="stylesheet">
	</head>

<style is:global>
	@import '/src/styles/global.css';
</style>
	<body class="relative w-full">
    <Image
      src={deskBackground}
      alt="background image"
      class="absolute top-0 w-full h-full -z-10 hidden md:inline-block"
    />
    <Image
      src={mobileBackground}
      alt="background image"
      class="absolute top-0 left-0 w-full h-full -z-10 md:hidden"
    />
		<slot />
	</body>
</html>